.nav-bar{
    background-color: white;
    border-bottom: #555555 solid 2px;
    margin: 0;
    width: 100%;
    padding: 8px;
}

@media (min-width: 992px){
    .justify-content-lg-start {
        justify-content: flex-start !important;
    }
}

.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.d-flex {
    display: flex !important;
}

li {
    list-style: none;
    display: inline;
    vertical-align: middle;
}

.nav-items {
    color: black;
    padding: 25px;
    justify-content: space-between;
    text-decoration: none;
}

.nav-img > img{
    max-width: 50%;
    padding: 8px;
}

